<div class="container">
  <input type="text" [(ngModel)]="city" />
  <button (click)="getWeather(); getCityPicture(); getLatLng()">Search</button>
</div>
<ng-container *ngIf="weatherData && weatherData.hourly">
  <div class="image-container">
    <img *ngIf="cityPhotoUrl" [src]="cityPhotoUrl" />
    <div class="temperature-info">
      <div class="city-name">{{ city }}</div>
      <div class="info">
        {{ weatherData.hourly.temperature_2m[currentHourIndex] }}°C
      </div>
      <div class="info">
        {{ weatherData.hourly.windspeed_10m[currentHourIndex] }}
      </div>
      <div class="info">
        Current time: {{ datePipe.transform(currentTime, 'shortTime') }}
      </div>
    </div>
  </div>
  
  <ng-container *ngFor="let date of weatherData.hourly.time; index as i">
    <ng-container *ngIf="date.endsWith(currentHour+':00')">
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3">
                {{ date | date : "mediumDate" }}
              </span>
              <div class="text-900 font-medium text-xl">
                {{ weatherData.hourly.temperature_2m[i] }}°C
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-blue-100 border-round"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i
                class="pi pi-sun"
                *ngIf="weatherData.hourly.temperature_2m[i] > 20"
              ></i>
              <i
                class="pi pi-cloud"
                *ngIf="weatherData.hourly.temperature_2m[i] <= 20"
              ></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">Wind speed</span>
          <span class="text-500">
            {{ weatherData.hourly.windspeed_10m[i] }}</span
          >
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
